.home{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
}
.header{
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,serif;
    font-size: 32px;
   
}
.blogSpan{
    margin:0 auto;
    font-size: 32px;
    font-family:'fas fa-italic'

}
